<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Publishers</title>
    <style>
        .banner
        {
           font-family : Arial;
           font-size:30pt;
           color:white;
           background-color:maroon;
        }
        .menu {
           font-family : verdana;
           font-size:12pt;
           font-weight:bold;
        }
    </style>
</head>
<body>
<div  class="banner">Publishers</div>
<div style="background-color:silver;padding-top:10px;padding-bottom:10px" class="menu">
    <a href="/demo/list_publishers">List</a>
    <a href="/demo/add_publisher">Add</a>
</div>

{% block content %}
{% endblock %}

</body>
</html>