.banner
{
           font-family : Arial;
           font-size:30pt;
           color:white;
           background-color: gray;
}
.menu {
           font-family : verdana;
           font-size:12pt;
           font-weight:bold;
}
